workflow/data/output
workflow/data/ref/*
!workflow/data/ref/.gitkeep
workflow/data/reads/*
!workflow/data/reads/.gitkeep
workflow/logs
workflow/.snakemake
workflow/scripts/__pycache__
.DS_Store
report.html
.vscode-server
